/TesteOperadoresLogicos/target/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
/CalculoIMC/nbproject/private/
/CalculoIMC/build/
/ExercicioAula08/target/
/Exercicio2Aula08/target/
/TesteBoolean/target/
/JogoAdivinhacao/nbproject/private/
/tstAsciiArt/target/
/JogoAdivinhacao/build/
/JogoAdivinhacao/dist/
/VariaveisInteiras/target/
/CalculoMedia/nbproject/private/
/CalculoMedia/build/
/ProgramaIdade/nbproject/private/
/ProgramaIdade/build/
/ProgramaIdade/dist/
