/TesteOperadoresLogicos/target/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
/CalculoIMC/nbproject/private/
/CalculoIMC/build/
/ExercicioAula08/target/
/Exercicio2Aula08/target/
/TesteBoolean/target/
/JogoAdivinhacao/nbproject/private/
/tstAsciiArt/target/
/JogoAdivinhacao/build/
/JogoAdivinhacao/dist/
/VariaveisInteiras/target/
/CalculoMedia/nbproject/private/
/CalculoMedia/build/
/ProgramaIdade/nbproject/private/
/ProgramaIdade/build/
/ProgramaIdade/dist/
/ProgramaParImparSwing/nbproject/private/
/ProgramaParImparSwing/build/
/JavaApplication19/nbproject/private/
/JavaApplication19/build/
/EquacaoSegundoGrau/nbproject/private/
/EquacaoSegundoGrau/build/
/JavaApplication21/nbproject/private/
/JavaApplication21/build/
/VotacaoSwing/nbproject/private/
/VotacaoSwing/build/
/VotacaoSwing/dist/
/SwitchCaseBreak/nbproject/private/
/SwitchCaseBreak/build/
/ProjetoTriangulo/nbproject/private/
/ProjetoTriangulo/build/
/ProjetoTriangulo/dist/
