/TesteOperadoresLogicos/target/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
/CalculoIMC/nbproject/private/
/CalculoIMC/build/
/ExercicioAula08/target/
/Exercicio2Aula08/target/
/TesteBoolean/target/
/JogoAdivinhacao/nbproject/private/
/tstAsciiArt/target/
/JogoAdivinhacao/build/
/JogoAdivinhacao/dist/
/VariaveisInteiras/target/
/CalculoMedia/nbproject/private/
/CalculoMedia/build/
/ProgramaIdade/nbproject/private/
/ProgramaIdade/build/
/ProgramaIdade/dist/
/ProgramaParImparSwing/nbproject/private/
/ProgramaParImparSwing/build/
/JavaApplication19/nbproject/private/
/JavaApplication19/build/
/EquacaoSegundoGrau/nbproject/private/
/EquacaoSegundoGrau/build/
/JavaApplication21/nbproject/private/
/JavaApplication21/build/
/VotacaoSwing/nbproject/private/
/VotacaoSwing/build/
/VotacaoSwing/dist/
/SwitchCaseBreak/nbproject/private/
/SwitchCaseBreak/build/
/ProjetoTriangulo/nbproject/private/
/ProjetoTriangulo/build/
/ProjetoTriangulo/dist/
/cursoJavaBasico/aula13/JavaApplication25/nbproject/private/
/cursoJavaBasico/aula13/Aula13Loiane/nbproject/private/
/cursoJavaBasico/aula13/Aula13Loiane/build/
/cursoJavaBasico/aula13/ProgramaAloMundo/nbproject/private/
/cursoJavaBasico/aula13/ProgramaAloMundo/build/
/cursoJavaBasico/aula13/ProgramaAloMundo/dist/
/cursoJavaBasico/aula13/MostraNumero/nbproject/private/
/cursoJavaBasico/aula13/MostraNumero/build/
/cursoJavaBasico/aula13/MostraNumero/dist/
/cursoJavaBasico/aula13/NotasAlunoSwing/nbproject/private/
/cursoJavaBasico/aula13/NotasAlunoSwing/build/
/cursoJavaBasico/aula13/NotasAlunoSwing/dist/
/cursoJavaBasico/aula13/TstPI/nbproject/private/
/cursoJavaBasico/aula13/TstPI/build/
/cursoJavaBasico/aula13/TesteClasses/nbproject/private/
/cursoJavaBasico/aula13/TesteClasses/build/
/cursoJavaBasico/aula13/TesteClasses/dist/
/cursoJavaBasico/aula13/ConverterMetrosParaCentimetros/nbproject/private/
/cursoJavaBasico/aula13/ConverterMetrosParaCentimetros/build/
/cursoJavaBasico/aula13/ConverterMetrosParaCentimetros/dist/
/cursoJavaBasico/aula13/Aula13Loiane/dist/
/CalculoIMC/dist/
/CalculoMedia/dist/
/EquacaoSegundoGrau/dist/
/JavaApplication19/dist/
/JavaApplication21/dist/
/SwitchCaseBreak/dist/
/cursoJavaBasico/aula13/TstPI/dist/
/VerificadorIdadeSwing/dist/
/TstAsciiArt2/target/
/cursoJavaBasico/aula13/AreaDoCirculo/nbproject/private/
/cursoJavaBasico/aula13/AreaDoCirculo/build/
/cursoJavaBasico/aula13/AreaDoQuadrado/nbproject/private/
/cursoJavaBasico/aula13/AreaDoQuadrado/build/
/cursoJavaBasico/aula13/AreaDoQuadrado/dist/
/Veiculo/nbproject/private/
/TesteClasseAutomovel/nbproject/private/
/TesteClasseAutomovel/build/
/TesteClasseAutomovel/dist/
/ClasseAnimal/nbproject/private/
/ClasseAnimal/build/
/CadastroPet/nbproject/private/
/CadastroPet/build/
/CadastroPet/dist/
/CalculoSalario/nbproject/private/
/CalculoSalario/build/
/CalculoSalario/dist/
/ConverterTemperaturaMavenProject/target/
/Cambalhotoa/target/
/ContadorDeCambalhotaSwing/nbproject/private/
/JavaApplication2/nbproject/private/
/JavaApplication2/build/
/TesteDeMesa/target/
/TesteFatorial/nbproject/private/
/TesteFatorial/build/
/ExercicioRepita/nbproject/private/
/ExercicioRepita/build/
/For/nbproject/private/
/For/build/
/Exercicio13/nbproject/private/
/Exercicio13/build/
/TesteVetor0/nbproject/private/
/TesteVetor0/build/
/testeVetor1/nbproject/private/
/testeVetor1/build/
/testeVetor2/nbproject/private/
/testeVetor2/build/
/testeVetor2/dist/
/for-each/nbproject/private/
/for-each/build/
/vetorAutoComplete/nbproject/private/
/vetorAutoComplete/build/
/CursoEmVideoVetor/nbproject/private/
/CursoEmVideoVetor/build/
/ExercicioVetorAula14/nbproject/private/
/ExercicioVetorAula14/build/
/JavaApplication14/nbproject/private/
/JavaApplication14/build/
/tstFunction02/nbproject/private/
/tstFunction02/build/
/ExMetodosAula15/nbproject/private/
/ExMetodosAula15/build/
/Funcao01/nbproject/private/
/Funcao01/build/
/Funcao02/nbproject/private/
/Funcao02/build/
/testeJavaCursoEmvideo/nbproject/private/
/testeJavaCursoEmvideo/build/
/JavaPooAula2b/nbproject/private/
/JavaPooAula2b/build/
/JavaPooAula03/nbproject/private/
/JavaPooAula03/build/
